/***General***/
* {
	box-sizing: border-box;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

html {
	height:auto;
	scroll-padding-top: 100px;
}

body {
	font-family: 'PT Serif', serif;
	background: #fffffe;
	color: #272343;
	font-size: 18px;
}


/***Navbar***/
.navbar{
	background-color:#e3f6f5;
	color: #272343;
}

.navbar-brand, .nav-link {
	color: #272343;
}

.navbar a:hover {
	color: #f45d48;
}

i::before {
	font-size: 1.5rem;
	color: #272343;
	}

.navbar-toggler {
  color: #272343;
  border: dotted 1px rgba(39, 35, 67, .5);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(39, 35, 67, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(39, 35, 67);
}

.carousel-item img {
  width: 100px;
  height: 330px;
  max-height: 330px;
  box-shadow: 0 0 24px rgba(0, 0, 0, .5);
  opacity: .5;
}

.carousel-item h2, .carousel-item h3 {
	color: #272343;
}



/***About***/
#about {
	color: #272343;
}

#about img {
	width: 150px;
}

#about .btn a {
	border-color: #f45d48;
	color: #f45d48;
}

#about .btn:hover {
	border-color: #f45d48;
	background: #f45d48;
	transform: scale(1.5);
}

#about .btn a:hover {
	color: #fffffe;
}

#about .btn {
	border-color: #f45d48;
	color: #f45d48;
}

#about .active {
	background: #e3f6f5;
	border-color: #e3f6f5;
	color: #272343;
}

#about .list-group-item {
	text-align: center;

}

#about p a {
	text-decoration: none;
	color: #272343;
}

#about p a:hover {
	color: #f45d48;
}

/***Experience***/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #272343;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #f45d48;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

#experience a {
	color: #272343;
}

#experience a:hover{
	color: #f45d48;
}

#experience .bi-download:hover{
	color: #f45d48;
}

#experience .fade-to-right {
	animation: fade-to-right 5s .3s forwards ease-in;
}

@keyframes fade-to-right {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

#experience .fade-to-left {
	animation: fade-to-left 5s .3s forwards ease-in;
}

@keyframes fade-to-left {
	0% {
		opacity: 0;
		transform: translateX(50px);
	}
	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

/***Skills***/
#skills .progress {
	height:  1.5rem;
}

#skills .progress-bar {
	color: #272343;
	font-weight: bold;
	font-size: 0.8rem;
}

#skills .progress-bar-one {
	background-color: #f45d48;
}

#skills .progress-bar-two {
	background-color: #bae8e8;
}

#skills .progress-bar-three {
	background-color: #ffd803;
}

#skills .progress-bar-four {
	background-color: #078080;
}

#skills .nav-link:hover {
	color: #f45d48;
}


/***Projects***/
#projects .btn{
	background: #e3f6f5;
	color: #272343;
	border: 1px solid #272343;
}

#projects a {
	color: #272343;
}

#projects a:hover {
	color: #f45d48;
}

#projects .tooltip {
	transition: .25s all ease;
}

/***Research community***/
#community .nav-link:hover {
	color: #f45d48;
}

#community a {
	text-decoration: none;
	color: #272343;
}

#community a:hover {
	color: #f45d48;
}

/***University***/
#teach a {
	text-decoration: none;
	color: #272343;
}

#teach a:hover {
	color: #f45d48;
}

/***Publications***/
#bibbase_header {
	display: none;
}

.bibbase.bibtex.link {
	color: #f45d48;
}

.bibbase_group {
	background: #e3f6f5;
	color: #272343;
}

/***Footer***/
footer {
	clear: both;
  width: 100%;
  }


 footer a {
 	color: #272343;
 }

 footer a:hover {
	color: #f45d48;
}


/***Media queries***/
@media (max-width: 767.98px) {
	html {
		scroll-padding-top: 330px;
	}

	#about .profile {
		margin-top: 100px;
	}

	#about .list-group {
		width: 100%;
	}
}
